<article class="playlist">
  <header class="article-header">
    <h1 class="article-title">
      {{ ::playlist.title }}
    </h1>
    <p ng-if="playlist.date" class="date">
      {{ ::playlist.published }}
    </p>
  </header>

  <section class="introduction" ng-bind-html="playlist.content"></section>

  <section class="services">
    <h1 class="sub-title">Listen.</h1>
    <ul class="service-links">
      <li class="service" ng-repeat="service in playlist.meta.share_links">
        <a href="{{ service.url }}" class="link-{{ service.audio_service }}" target="_blank">
          <span class="icon icon-{{ service.audio_service }}"></span>
        </a>
      </li>
    </ul>
  </section>

  <iasr-track-list></iasr-track-list>

  <footer class="playlist-footer">
    <a ui-sref="playlists">
      <span class="icon icon-arrow-left arrow-icon"></span>
      Back
    </a>
  </footer>
</article>
