// Footer
footer[role="contentinfo"] {
  background: $gray-4;
  font-family: $serif;
  font-size: 1.5em;
  min-height: $footer-height;
  position: relative;
  z-index: 2;

  .foot-wrap {
    @include clearfix;
    padding: 1em 5%;
    max-width: $large-screen;
    margin: 0 auto;
  }

  a {
    @include link($iasr-white, $iasr-blue);
  }

  ul {
    list-style: none;

    li {
      display: inline;
      padding: 0 .25em;
    }
  }

  .footer-about {
    float: left;

    li:first-of-type {
      padding-left: 0;
    }
  }

  .footer-social {
    float: right;

    li:last-of-type {
      padding-right: 0;
    }
  }

  @media screen and (max-width: $small-screen) {
    font-size: 1em;

    .footer-about,
    .footer-social {
      float: none;
      text-align: center;

      li {
        &:first-of-type,
        &:last-of-type {
          padding: 0 .25em;
        }
      }
    }
  }
}