// Header
.site-header {
  font-size: 6em;

  .site-title {
    font-size: 1em;
    margin: 0;
    line-height: .85;
  }

  .site-nav {
    font-size: .4em;
    margin-bottom: .5em;

    a {
      @include link($iasr-blue, $gray-4);
      display: inline-block;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 4em;
  }

  .site-nav {
    font-size: 2em;
  }
}