html {
  height: 100%;
}

body {
  background: lighten(#edeae2, 5%);
  color: #464541;
  position: relative;
  min-height: 100%;
}

.body-wrap {
  @include outer-container;
}


// Header
.site-header {
  font-size: 10em;

  .site-title {
    font-size: 1em;
    margin: 0;
    line-height: .85;
  }

  .site-nav {
    font-size: .4em;
    margin-bottom: .5em;

    a {
      @include link($iasr-blue, $gray-4);
      display: inline-block;
    }
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 4em;
  }

  .site-nav {
    font-size: 2em;
  }
}

.little-box {
  border: 1px solid $gray-4;
  background: $iasr-blue;
  width: 200px;
  height: 200px;
}