html {
  height: 100%;
}

body {
  background: lighten(#edeae2, 5%);
  color: #464541;
  position: relative;
  min-height: 100%;
}

.body-wrap {
  @include outer-container;
}


// Header
.site-header {
  @include transform(translateY(-100%));
  @include transitioned(all, .5s);
  position: absolute;
  top: 100%;
  font-size: 10em;

  .site-title {
    font-size: 1em;
    margin: 0;
    line-height: .85;
  }

  .site-nav {
    font-size: .4em;
    margin-bottom: .5em;

    a {
      @include link($iasr-blue, $gray-4);
      display: inline-block;
    }
  }

  &.boom {
    @include transform(translateY(0));
    top: 0;
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .site-title {
    font-size: 4em;
  }

  .site-nav {
    font-size: 2em;
  }
}