// Paplow
.paplow-box {
  @include position(absolute, 50% null null 50%);
  height: 34px;
  transform: translateX(-50%) translateY(-50%);
  width: 125px;

  .paplow {
    fill: $iasr-white;
    height: 100%;
    width: 100%;
  }
}
