// Global Styles

a {
  @include link(#464541);
}

html {
  height: 100%;
}

body {
  background: $iasr-white;
  color: #464541;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-size: 24px;
}

// sticky-footer helper
$footer-height: 126px;

.body-wrap {
  max-width: $large-screen;
  margin: 0 auto;
  padding: 0 5%;
  min-height: 100%;
  margin-bottom: -$footer-height;
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.main-content {
  padding-bottom: 200px;
}
