// Global Styles

a {
  @include link(#464541);
}

html {
  height: 100%;
}

body {
  background: lighten(#edeae2, 5%);
  color: #464541;
  position: relative;
  min-height: 100%;
  height: 100%;
  margin: 0;
  font-size: 24px;
}

// sticky-footer helpers
$footer-height: 126px;

.body-wrap {
  max-width: $large-screen;
  margin: 0 auto;
  padding: 0 5%;
  min-height: 100%;
  margin-bottom: -$footer-height;
  position: relative;

  &:after {
    content: "";
    display: block;
    height: $footer-height;
  }
}

.main-content {
  padding-bottom: 200px;
}

// ng-animate helpers
.view-animation {
  @include transitioned;
  position: relative;

  &.ng-enter {
    @include transform(translateX(-100%));
  }

  &.ng-leave,
  &.ng-enter.ng-enter-active {
    @include transform(translateX(0));
  }

  &.ng-leave.ng-leave-active {
    @include transform(translateX(100%));
  }
}