.playlist {
  .services {
    text-align: center;
  }

  .service-links {
    font-size: 2em;
  }

  .service {
    display: inline-block;
    padding: 10px 20px;

    a {
      @include transitioned;
      box-sizing: content-box;
      padding: 10px;
      width: 60px;
      height: 60px;
      display: block;
      position: relative;
      border-radius: 50%;

      .icon {
        position: relative;
        top: -2px;
        left: 1px;
        z-index: 2;
      }
    }

    $services: (
      play-music: $google-orange,
      rdio: $rdio-blue,
      spotify: $spotify-green
    );

    @each $service, $color in $services {
      .link-#{$service}:hover {
        color: $color;
      }
    }
  }

  .track-list {
    @include width(768px);
    padding-left: 40px;
    margin: 2em auto;
  }

  .track-listing {
    list-style: decimal;
  }

  .playlist-footer {
    text-align: center;
    font-family: $serif;
    font-size: 2em;
    font-weight: bold;

    a {
      @include link($gray-4, $iasr-blue);
    }

    .arrow-icon {
      font-size: .75em;
    }
  }
}
