.portfolio-item {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid darken($iasr-white, 10%);

  p {
    margin-bottom: 1em;
  }

  a {
    @include link($iasr-blue, $gray-4);
  }

  .description {
    margin-bottom: 1.5em;
  }

  .additional-links {
    font-size: 1.25em;
    margin-bottom: 1em;
  }

  .built-with {
    font-family: monospace;
  }

  &:last-of-type {
    margin-bottom: 0;
    border-bottom: 0;
  }
}
