// Screen Sizes
$small-screen: em(640);
$medium-screen: em(980);
$large-screen: em(1440);

// Colors
$iasr-blue: #6b83a6;
$iasr-white: #edeae2;

$google-orange: #ef6c00;
$rdio-blue: #008fd5;
$spotify-green: #8cbc31;

$gray-4: #464541;
