// Screen Sizes
$small-screen: em(640);
$medium-screen: em(980);
$large-screen: em(1280);

// Colors
$iasr-blue: #6b83a6;
$iasr-white: #edeae2;

$github-black: #151515;
$google-orange: #ef6c00;
$linkedin-blue: #0077b5;
$rdio-blue: #008fd5;
$spotify-green: #8cbc31;
$twitter-blue: #55acee;

$gray-4: #464541;
